h1 {
  line-height: 3.5;
  background-color: rgb(238, 237, 240);
  border-color: rgb(241, 127, 21);
  font-family: "Noto Sans JP", sans-serif;
  text-align: center;
}

ul {

  background-color: rgb(255, 255, 255);
}

.image{
  width: 8%;
  align-items: center;
  border-color: rgb(236, 231, 231);
}

ul {
  font-size: 33px;
}