h1 {
  line-height: 2em;
  background-color: rgb(238, 237, 240);
  border-color: rgb(241, 127, 21);
  font-family: "Noto Sans JP", sans-serif;
  text-align: center;
}

ul {
  background-color: rgb(255, 255, 255);
  font-size: 18px;

}

.image{
  width: 50%;
  align-items: center;
  border-color: rgb(236, 231, 231);
}

